@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <RegisterCpr/>
    </Authorized>
    <NotAuthorized>
        <h1>You no authorized</h1>
    </NotAuthorized>
</AuthorizeView>