@page "/"
@inject NavigationManager NavigationManager
@inject ILogger<Home> Logger
@inject Code.Services.IRoleService _roleService
@inject IServiceProvider _serviceProvider
@inject IHttpContextAccessor httpContextAccessor


<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <RegisterCpr />
    </Authorized>
    <NotAuthorized>
        <h1>Authorized not you are</h1>
    </NotAuthorized>
</AuthorizeView>


@code {
}