@using Matias_ToDo_DoubleDB.Code.Services
@using Matias_ToDo_DoubleDB.Data.Models.Entities;
@inject Code.Services.IToDoService _todoService
@inject IHttpContextAccessor httpContextAccessor
@inject ILogger<ToDo> Logger
@inject AuthenticationStateProvider authStateProvider
@inject Code.Services.IRoleService _roleService
@inject IServiceProvider _serviceProvider
@inject IAsymmetricEncryptionService _encryptionService

<PageTitle>ToDo</PageTitle>
<AuthorizeView>
    <div class="bg-black bg-opacity-10 p-2 rounded-1">
        <h6>DEBUGGING PANEL</h6>
        @if (!userIsAdmin)
        { 
        <button @onclick="addAdminToUser" class="w-15  btn btn-md btn-primary my-3">
            Add admin
        </button>
        }
        else
        {
        <button @onclick="removeAdminFromUser" class="w-15  btn btn-md btn-primary my-3">
            Remove admin
        </button>
        }
        <h6>Is Admin : @userIsAdmin</h6>
    </div>
    <br />

    <div class="w-50 bg-opacity-25 bg-black rounded-1" style="margin-inline: auto;">
        <div class="text-center py-2">
            <input @bind="newTaskTitle" placeholder="Task here" class="w-50" />
            <button @onclick="addTask" class="w-25 btn btn-md bg-info">Add</button><br />
            @if (userIsAdmin)
            {
                @if (taskList != null)
                {
                    @if (taskList.Count() > 0)
                    {
                        <button @onclick="deleteAllTasks" class="w-75 btn btn-md my-3 bg-warning">Remove all tasks</button>
                    }
                }
            }
        </div>
        @if (taskList != null)
        {
            <table>
                <tr>
                    <th>
                        Task
                    </th>
                    @if (userIsAdmin)
                    {
                        <th>Action</th>
                    }
                </tr>
                @foreach (ToDoItem task in taskList)
                {
                    <tr>
                        <td>
                            @_encryptionService.DecryptAsymmetric(task.Title)
                        </td>
                        @if (userIsAdmin)
                        {
                            <td>
                                <button @onclick="() => removeItem(task.Id)" class="btn btn-md bg-danger">Remove</button>
                            </td>
                        }
                    </tr>
                }

            </table>
        }
    </div>
</AuthorizeView>
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

@code {
    private string newTaskTitle = string.Empty;
    List<ToDoItem> taskList;
    string userEmail = string.Empty;
    bool userIsAdmin = false;
    bool isLoading = false;

    protected async Task removeAdminFromUser()
    {
        Logger.LogInformation($"Email : {userEmail}");
        if (!String.IsNullOrEmpty(userEmail.Trim()))
        {
            var response = await _roleService.RemoveUserRole("Admin", _serviceProvider, userEmail);
            Logger.LogInformation($"removeAdminFromUser : {response}");
            await refresh(response);
        } 
    }

    protected async Task addAdminToUser()
    {
        Logger.LogInformation($"Email : {userEmail}");
        if (!String.IsNullOrEmpty(userEmail.Trim()))
        {
            var response = await _roleService.CreateUserRole("Admin", _serviceProvider, userEmail);
            Logger.LogInformation($"addAdminToUser : {response}");
            await refresh(response);
        }
    }


    private async Task refresh(bool response)
    {
        if (response && !isLoading)
        {
            isLoading = true;
            await getTaskList();
            await checkIfAdmin();
            clearFields();
            StateHasChanged();
            isLoading = false;
        }
    }

    private async Task checkIfAdmin()
    {
        userIsAdmin = await _roleService.IsUserAdmin(userEmail, _serviceProvider);
        await refresh(true);
    }

    private void clearFields()
    {
        newTaskTitle = string.Empty;
    }

    private async Task getTaskList()
    {
        taskList = await _todoService.GetTasks(httpContextAccessor?.HttpContext?.User?.Identity?.Name!);
    }

    protected override async Task OnInitializedAsync()
    {
        userEmail = httpContextAccessor!.HttpContext!.User!.Identity!.Name!;
        await refresh(true);
    }

    private async void addTask()
    {
        string encryptedTitle = _encryptionService.EncryptAsymmetric(newTaskTitle);
        var response = await _todoService.AddTask(userEmail, encryptedTitle);
        await refresh(response);
    }
    private async void removeItem(Guid id)
    {
        var response = await _todoService.RemoveItem(userEmail, id);
        await refresh(response);
    }

    private async void deleteAllTasks()
    {
        var response = await _todoService.AdminDeleteAllTasks(userEmail);
        await refresh(response);
    }
}
